## .NET Ignore
[Bb]in/
dist/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/

## Trellis runtime / developer
.trellis/.runtime/
.trellis/.developer
# >>> Comet managed project state >>>
!/.comet/
/.comet/*
!/.comet/config.yaml
# <<< Comet managed project state <<<
